
body {
  background-color: black;
  color: white;
  
}

	
			body:before {
        content: "";
        position: fixed;
        opacity: 1;
        left: 0;
        top: 0;
        width: 1000%;
        height: 1000%;
        background-size: 100px;
        pointer-events: none;
        z-index: 1000;
        background-image: url(https://dimden.dev/images/overlay.png);
        background-repeat: all;
        background-position: 0px 0px;
        animation-name: Static;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: steps(4);
        box-shadow: inset 0px 0px 10em rgb(0 0 0 / 40%);
    }
    
    
@keyframes Static {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -8px;
    }
}

  
html, a, a:hover {
  cursor:url(http://i.imgur.com/ONVDMqu.png), default;
}
  